<div class="container text-center">
        <h3> {{title | uppercase}} </h3>
   
      </div>
      <div class="container overflow-hidden text-center">
<div class="row gx-5">
  <div class="col mt-5">
    <h5> Do you want any changes in your data ?</h5>
        <button class="btn btn-outline-secondary p-3 mt-3" (click)="goToList()">Click for Data</button>   
       </div>
    <ul>
      <li></li>
      <li></li>
      <li>data</li>
      
      
      <li>data</li>
      
    </ul>    
    
    
    